*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
    font-family: sans-serif;
    font-size: smaller;
}

/* Logo */
header{
    border: 1px solid black;
    padding: 10px;
    height: 70px;
    background-color: white;
}

header>h1{
    display: inline;
    font-weight: 1400;
    vertical-align: middle;
}

img{
    vertical-align: middle;
}


/* Buttons */
.container.c1{
    border-bottom: 1px solid #F6F8F9;
}

.button{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #F6F8F9;
    font-weight: 500;
    font-size: small;
}

.b1{
    background-color: #47ADF1;
    color: white;
}
.b2{
    background-color: white;
    color: lightgray;
}

/* Container */
.container{
    background-color: white;
    padding: 10px 50px;
    margin: 3em auto 0;
    width: 60%;
}
.c2{
    width: 60%;
    height: 30em;
    margin: 0 auto 1em auto;
}

/* markers */
.marker{
    color: white;
    padding: 5px 10px;
    font-size: x-small;
    border-radius: 10px;
}
.editorial.marker{
    background-color: #47ADF1;
}
.q1.marker{
    background-color: #9C72E4;
}
.recruiting.marker{
    background-color: #64C0A9;
}
.mobile.marker{
    background-color: #F29E33;
}
.website.marker{
    background-color: #D863A1;
}
.sales.marker{
    background-color: #B0C926;
}

/* List */
li{
    margin-top: 10px;
}
li:last-child{
    padding-bottom: 10px;
}
ul{
    list-style: none;
}

#ok{
    display: inline-block;
    text-align: center;
    color: green;
    border: 1px solid green;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
#no